<footer id="contacto">
  <div class="container">
    <div class="footer-content">
      <div class="footer-title">Conectemos</div>
      <div class="social-links">
        <a href="https://x.com/VictorA81542268" target="_blank" title="Twitter">
          <i class="fab fa-x-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/in/victor-araya-alegr%C3%ADa-1630b561/" target="_blank" title="LinkedIn">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
      <div class="copyright">© varaya. Todos los derechos reservados.</div>
    </div>
  </div>
</footer>
