<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">

        <div class="language-selector">
          <a href="#" aria-label="Versión en Español" class="me-2">
            <img src="/public/assets/flags/es.svg" alt="Bandera de España" class="flag-icon">
          </a>
          <a href="#" aria-label="English Version">
            <img src="/public/assets/flags/us.svg" alt="Bandera de Estados Unidos" class="flag-icon">
          </a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alternar navegación">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="#hero">Inicio</a></li>
            <li class="nav-item"><a class="nav-link" href="./views/about.html">Sobre mí</a></li>
            <li class="nav-item"><a class="nav-link" href="#projects">Proyectos</a></li>
            <li class="nav-item"><a class="nav-link" href="#blog">Blog</a></li>
            <li class="nav-item"><a class="nav-link" href="#contacto">Contacto</a></li>
          </ul>
        </div>

      </div>
    </nav>
  </div>
</header>
