<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#hero">Varaya Labs</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alternar navegación">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="./views/about.html">Sobre mí</a></li>
          <li class="nav-item"><a class="nav-link" href="#projects">Proyectos</a></li>
          <li class="nav-item"><a class="nav-link" href="#blog">Blog</a></li>
          <li class="nav-item"><a class="nav-link" href="#contacto">Contacto</a></li>
        </ul>
      </div>
      <div class="language-switcher ms-lg-3">
  <button class="btn btn-sm lang-btn active" data-lang="es" aria-label="Cambiar a Español">
    <svg class="flag-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3 2"><path fill="#ffc400" d="M0 0h3v2H0z"/><path fill="#c60b1e" d="M0 0h3v.5H0zm0 1.5h3V2H0z"/></svg>
  </button>
  <button class="btn btn-sm lang-btn" data-lang="en" aria-label="Switch to English">
    <svg class="flag-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 30"><clipPath id="a"><path d="M0 0v30h60V0z"/></clipPath><clipPath id="b"><path d="M30 15h30v15H30zm-30 0h30v15H0zm30-15h30v15H30zM0 0h30v15H0z"/></clipPath><g clip-path="url(#a)"><path d="M0 0v30h60V0z" fill="#012169"/><path d="M0 0l60 30m0-30L0 30" stroke="#fff" stroke-width="6"/><path d="M0 0l60 30m0-30L0 30" clip-path="url(#b)" stroke="#c8102e" stroke-width="4"/><path d="M30 0v30M0 15h60" stroke="#fff" stroke-width="10"/><path d="M30 0v30M0 15h60" stroke="#c8102e" stroke-width="6"/></g></svg>
  </button>
</div>
    </div>
  </nav>
</div>
