body, h1, h2, h3, h4, h5, h6, p, a, li, span, div {
  color: #ffffff !important;
}
body {
  background-color: #000;
  color: #fff;
}

a, h1, h2, h3, h4, h5, h6, p {
  color: #fff;
}

.nav-link:hover {
  color: #0d6efd;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #111;
  color: #ccc;
}
